altgraph==0.17.4
click==8.1.7
cx_Freeze==7.0.0
filelock==3.13.4
packaging==24.0
patchelf==0.17.2.1
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.4
PyQt6==6.4.2
pyqt6-plugins==6.4.2.2.3
PyQt6-Qt6==6.4.3
PyQt6-sip==13.6.0
pyqt6-tools==6.4.2.3.3
python-dotenv==1.0.1
qt6-applications==6.4.3.2.3
qt6-tools==6.4.3.1.3
